:root {
  font-size: 16px;
  font-family: "Open Sans";
  padding: 0;
  margin: 0;
  --bg-nav: #23232e;
  --bg-nav-2: #141418;
  --color-nav: #999797 ;
  --color-nav-2: #ffffff ;
  --filter-img-nav: invert(0);
  --filter-img-nav-hover: invert(1);
  --filter-nav-link-nav: grayscale(100%) opacity(0.7);
  --filter-nav-link-nav-hover: grayscale(0%) opacity(1);
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

h1 {
  padding: 0;
  margin: 0;
}

.light {
  --bg-nav: #9f9fce;
  --bg-nav-2: #6d6d86;
  --color-nav: #adaaaa ;
  --color-nav-2: #ffffff ;
  --filter-img-nav: invert(0.1);
  --filter-img-nav-hover: invert(0);
  --filter-nav-link-nav: grayscale(50%) opacity(0.7) ;
  --filter-nav-link-nav-hover: grayscale(0%) opacity(1);
}

.dark {
  --bg-nav: #23232e;
  --bg-nav-2: #141418;
  --color-nav: #999797 ;
  --color-nav-2: #000000 ;
  --filter-img-nav: invert(0.7);
  --filter-img-nav-hover: invert(1);
  --filter-nav-link-nav: grayscale(100%) opacity(0.7);
  --filter-nav-link-nav-hover: grayscale(0%) opacity(1);
}

#dark::before {
  background: #2a2e35;
}

#light::before {
  background: #ffffff;
}

#solar::before {
  background: var(--bg-solar);
}

body {
  color: #2525e4;
  margin: 0;
  padding: 0;
  background-image: url(/img/fondo1.webp), url(/img/fondo2.webp);
  background-repeat: no-repeat, repeat;
  background-size: cover, cover;
  background-position: 0 0, 0 603px;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

section {
  margin: 0 auto;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  section {
    padding-top: 0.7rem;
  }
}

table {
  text-transform: uppercase;
  text-align: center;
}

input, select, textarea {
  text-align: center;
  text-transform: uppercase;
}

option {
  text-align: start;
  padding: 0 0.3rem;
}

table,
th,
td {
  border: 1px solid;
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-nav);
  transition: width 200ms ease;
}
.navbar .navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.navbar .navbar-nav .logo {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1rem 0;
  text-align: center;
  letter-spacing: 0.3ch;
  width: 100%;
  pointer-events: none;
}
.navbar .navbar-nav .logo .nav-link svg {
  margin: 0 1rem;
  width: 4rem;
  height: 3rem;
  transform: rotate(0deg);
  transition: 300ms;
}
.navbar .navbar-nav .logo .nav-link .link-text {
  display: none;
}
.navbar .navbar-nav .nav-item {
  width: 100%;
}
.navbar .navbar-nav .nav-item .nav-link {
  filter: var(--filter-nav-link-nav);
  transition: 600ms;
}
.navbar .navbar-nav .nav-item .nav-link img {
  margin: 0 1rem;
  height: 3rem;
  width: 3rem;
}
.navbar .navbar-nav .nav-item .nav-link .link-text {
  display: none;
  margin: 0 auto;
  padding-right: 7px;
  font-weight: bold;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  filter: var(--filter-nav-link-nav-hover);
  transition: 600ms;
  background: var(--bg-nav-2);
}
.navbar .navbar-nav .logo .nav-link .link-text,
.navbar .navbar-nav .nav-item .nav-link .link-text {
  color: var(--color-nav);
}
.navbar .navbar-nav .logo .nav-link img,
.navbar .navbar-nav .nav-item .nav-link img {
  filter: var(--filter-img-nav);
}
.navbar .navbar-nav .logo .nav-link:hover .link-text,
.navbar .navbar-nav .nav-item .nav-link:hover .link-text {
  color: var(--color-nav-2);
}
.navbar .navbar-nav .logo .nav-link:hover img,
.navbar .navbar-nav .nav-item .nav-link:hover img {
  filter: var(--filter-img-nav-hover);
}
.navbar .nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--color-nav);
  text-decoration: none;
}
@media only screen and (min-width: 601px) {
  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover .nav-item .nav-link .link-text,
.navbar:hover .logo .nav-link .link-text {
    filter: invert(1);
    display: block;
    animation-name: change-display;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
  }
  .navbar:hover .logo .nav-link svg {
    transform: rotate(-360deg);
  }
  .navbar .navbar-nav .nav-item:last-child {
    position: absolute;
    bottom: 0;
  }
}
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100%;
    height: 4rem;
  }
  .navbar:hover .nav-item .nav-link {
    height: 4rem;
  }
  .navbar .navbar-nav {
    display: flex;
    flex-direction: row;
  }
  .navbar .navbar-nav .logo {
    display: none;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    justify-content: center;
  }
  .navbar .navbar-nav .nav-item .nav-link img {
    margin: auto;
  }
}

@keyframes change-display {
  from {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
.index_forms {
  display: flex;
  flex-wrap: wrap;
}
.index_forms .forms_izq {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.index_forms .forms_izq .forms_index {
  text-align: center;
  padding: 0px 1.3rem;
  margin-bottom: 1rem;
  background-color: ghostwhite;
  border: solid 1px;
  box-shadow: 1px 1px;
  border-radius: 1rem;
}
.index_forms .forms_izq .forms_index form ul {
  list-style-type: none;
  padding: 0;
}
.index_forms .forms_izq .forms_index form ul #registrar_submit {
  margin: 1rem 0 0 0;
}
.index_forms .forms_izq .forms_index .form_cambiarPrecio ul li, .index_forms .forms_izq .forms_index .form_eliminarItem ul li {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.index_forms .forms_izq .forms_index .form_nuevoItem ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.index_forms .forms_izq .forms_index .form_nuevoItem ul li {
  display: flex;
  justify-content: center;
}
.index_forms .forms_der {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
}
.index_forms .forms_der .form_datos {
  background-color: ghostwhite;
  border: solid 1px;
  box-shadow: 1px 1px;
  border-radius: 1rem;
  padding: 7px;
}
.index_forms .forms_der .form_datos table {
  text-transform: initial;
}
@media only screen and (min-width: 601px) {
  .index_forms {
    margin: 0 1rem 0 6rem;
  }
}

.registrar_forms {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-around;
  height: 1200px;
}
.registrar_forms .registrar_form {
  background-color: ghostwhite;
  border: solid 1px;
  box-shadow: 1px 1px;
  border-radius: 1rem;
  font-size: 1rem;
  margin: 0 auto;
}
.registrar_forms .registrar_form .registrar_ul {
  list-style: none;
  margin: 0;
  padding: 1rem 2rem;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}
.registrar_forms .registrar_form .registrar_ul li {
  padding-bottom: 0.3rem;
}
.registrar_forms .registrar_form .registrar_ul .registrar_numero-mostrar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
  padding: 0 0 33px 0;
}
.registrar_forms .registrar_form .registrar_ul .registrar_numero-mostrar .registrar-numero {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.registrar_forms .registrar_form .registrar_ul .registrar_numero-mostrar .registrar-numero input {
  width: 2rem;
  text-align: center;
}
.registrar_forms .registrar_form .registrar_ul .registrar_numero-mostrar .cambiar_tipo_registro {
  position: absolute;
  right: 0;
  font-size: clamp(12px, 1vw, 18px);
}
.registrar_forms .registrar_form .registrar_ul .registrar_item-importe {
  display: flex;
  flex-direction: row;
}
.registrar_forms .registrar_form .registrar_ul .registrar_item-importe .registrar_item {
  display: flex;
  align-items: center;
  width: 100%;
}
.registrar_forms .registrar_form .registrar_ul .registrar_item-importe .registrar_item .item_icono {
  width: 30px;
  margin-right: 5px;
}
.registrar_forms .registrar_form .registrar_ul .registrar_item-importe .registrar_item .item_icono img {
  width: 30px;
}
.registrar_forms .registrar_form .registrar_ul .registrar_item-importe .registrar_item .cantidad {
  width: 30px;
  display: flex;
  margin-right: 5px;
}
.registrar_forms .registrar_form .registrar_ul .registrar_item-importe .registrar_item .cantidad input {
  width: 100%;
  padding: 0;
  margin: 0;
}
.registrar_forms .registrar_form .registrar_ul .registrar_item-importe .registrar_item .modo_mat,
.registrar_forms .registrar_form .registrar_ul .registrar_item-importe .registrar_item .modo_fer {
  width: 20px;
  padding: 0;
  margin-right: 5px;
}
.registrar_forms .registrar_form .registrar_ul .registrar_item-importe .registrar_item .agregar_mat,
.registrar_forms .registrar_form .registrar_ul .registrar_item-importe .registrar_item .agregar_fer,
.registrar_forms .registrar_form .registrar_ul .registrar_item-importe .registrar_item .eliminar_boton {
  width: 20px;
  padding: 0;
  margin-right: 5px;
}
.registrar_forms .registrar_form .registrar_ul .registrar_item-importe .registrar_item textarea {
  height: 1.5rem;
  resize: none;
  margin: 0 2vw;
  width: inherit;
  overflow: hidden;
  padding: 0;
  text-align: center;
  line-height: 1.4rem;
  padding: 0 0.3rem;
  font-size: 1rem;
}
.registrar_forms .registrar_form .registrar_ul .registrar_item-importe .registrar_item select {
  height: 1.5rem;
  margin: 0 2vw;
  width: inherit;
}
.registrar_forms .registrar_form .registrar_ul .registrar_item-importe .registrar_importe {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}
.registrar_forms .registrar_form .registrar_ul .registrar_item-importe .registrar_importe label {
  width: auto;
}
.registrar_forms .registrar_form .registrar_ul .registrar_item-importe .registrar_importe input {
  width: 90%;
}
.registrar_forms .registrar_form .registrar_ul .registrar_item-importe .registrar_importe .precio_unitario {
  display: flex;
  width: 100%;
  margin-right: 5px;
}
.registrar_forms .registrar_form .registrar_ul .mat_li,
.registrar_forms .registrar_form .registrar_ul .fer_li {
  display: none;
}
.registrar_forms .registrar_form .registrar_ul .total_li {
  display: flex;
  justify-content: end;
  position: relative;
  height: 20px;
}
.registrar_forms .registrar_form .registrar_ul .total_li .signo {
  width: 1%;
}
.registrar_forms .registrar_form .registrar_ul .total_li .total_suma {
  width: 9%;
  text-align: center;
}
.registrar_forms .registrar_form .registrar_ul .registrar_opciones-icono {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.registrar_forms .registrar_form .registrar_ul .registrar_opciones-icono .registrar_icono {
  text-align: start;
  width: 20%;
}
.registrar_forms .registrar_form .registrar_ul .registrar_opciones-icono .registrar_icono img {
  width: 28px;
}
.registrar_forms .registrar_form .registrar_ul .registrar_opciones-icono .registrar_opciones {
  width: 80%;
  display: flex;
  justify-content: center;
}
.registrar_forms .registrar_form .registrar_ul .registrar_opciones-icono .registrar_opciones .mostrar {
  margin-right: 1rem;
}
.registrar_forms .registrar_form .registrar_ul .registrar_fecha-icono-img {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
}
.registrar_forms .registrar_form .registrar_ul .registrar_fecha-icono-img .registrar_icono img {
  width: 6vh;
  margin-right: 1vh;
}
.registrar_forms .registrar_form .registrar_ul .registrar_fecha-icono-img .registrar_fecha input {
  text-align: center;
}
.registrar_forms .registrar_form .registrar_ul .registrar_fecha-icono-img .registrar_img img {
  width: 5vh;
  padding: 0.3vw;
  background: #ff8601;
  border-radius: 2vw;
  margin-left: 1vw;
  border: rgb(93, 68, 204) solid 2px;
}
.registrar_forms .registrar_form .registrar_ul .registrar_fecha-icono-img .registrar_img img:hover {
  background: #f9f140;
}
.registrar_forms .registrar_form .registrar_ul .registrar_fecha-icono-img .registrar_img img:active {
  background: rgb(93, 68, 204);
}
.registrar_forms .registrar_form .registrar_ul .registrar_fecha-icono-img .registrar_fecha #element_4_2,
.registrar_forms .registrar_form .registrar_ul .registrar_fecha-icono-img .registrar_fecha #element_4_1 {
  width: 2vw;
}
.registrar_forms .registrar_form .registrar_ul .registrar_fecha_pedido .registrar_fecha {
  display: flex;
}
.registrar_forms .registrar_form .registrar_ul .registrar_fecha_pedido .registrar_fecha .element_4_2,
.registrar_forms .registrar_form .registrar_ul .registrar_fecha_pedido .registrar_fecha .element_4_1 {
  width: 15px;
}
.registrar_forms .registrar_form .registrar_ul .registrar_fecha_pedido .registrar_fecha .element_4_3 {
  width: 30px;
}
.registrar_forms .registrar_form .registrar_ul .registrar_submit {
  margin: 0 auto;
}
@media only screen and (max-width: 900px) {
  .registrar_forms .registrar_form {
    width: 73vw;
    max-width: 45vw;
  }
  .registrar_forms .registrar_form .registrar_ul {
    padding: 1rem 1rem;
  }
  .registrar_forms .registrar_form .registrar_ul .registrar_numero-mostrar {
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 600px) {
  .registrar_forms .registrar_form {
    width: 90vw;
    margin-bottom: 75px;
    max-width: none;
  }
  .registrar_forms .registrar_form .registrar_ul {
    padding: 1rem 0.5rem;
  }
  .registrar_forms .registrar_form .registrar_ul li {
    padding-bottom: 0.7rem;
  }
  .registrar_forms .registrar_form .registrar_ul .registrar_item-importe .registrar_item {
    width: 75%;
  }
  .registrar_forms .registrar_form .registrar_ul .registrar_item-importe .registrar_item .item_icono {
    width: auto;
  }
  .registrar_forms .registrar_form .registrar_ul .registrar_item-importe .registrar_item .item_icono img {
    width: 15px;
  }
  .registrar_forms .registrar_form .registrar_ul .registrar_item-importe .registrar_importe {
    width: 25%;
  }
  .registrar_forms .registrar_form .registrar_ul .registrar_opciones-icono .registrar_icono img {
    width: 20px;
  }
  .registrar_forms .registrar_form .registrar_ul .registrar_fecha-icono-img .registrar_fecha #element_4_2,
.registrar_forms .registrar_form .registrar_ul .registrar_fecha-icono-img .registrar_fecha #element_4_1 {
    width: 5vw;
  }
  .registrar_forms .registrar_form .registrar_ul .registrar_fecha-icono-img .registrar_fecha #element_4_3 {
    width: 7vw;
    min-width: 30px;
  }
}
.registrar_forms .registrar_pedido {
  border: none;
  box-shadow: none;
  border-radius: 0;
  width: 1000px;
  margin: 0 auto auto;
}
.registrar_forms .registrar_pedido .registrar_ul .registrar_numero-mostrar {
  height: 50px;
}
.registrar_forms .registrar_pedido .registrar_ul .cabezal_presupuesto {
  display: flex;
  flex-direction: row;
  border: solid 1px;
  padding: 0;
}
.registrar_forms .registrar_pedido .registrar_ul .cabezal_presupuesto .cabezal_izq {
  text-align: center;
  border-right: solid 1px;
  width: 50%;
}
.registrar_forms .registrar_pedido .registrar_ul .cabezal_presupuesto .cabezal_izq .titulo {
  font-family: fantasy;
  font-size: 1.5rem;
}
.registrar_forms .registrar_pedido .registrar_ul .cabezal_presupuesto .cabezal_izq .iva-resp {
  border-top: solid 1px;
}
.registrar_forms .registrar_pedido .registrar_ul .cabezal_presupuesto .cabezal_der {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 50%;
}
.registrar_forms .registrar_pedido .registrar_ul .cabezal_presupuesto .cabezal_der .documento-aviso {
  padding-top: 3px;
}
.registrar_forms .registrar_pedido .registrar_ul .cabezal_presupuesto .cabezal_der .presupuesto {
  font-weight: bold;
  padding-bottom: 3px;
}
.registrar_forms .registrar_pedido .registrar_ul .cabezal_presupuesto .cabezal_der .registrar_fecha_pedido {
  display: flex;
  flex-direction: row;
  padding: 3px 0;
  margin: 0;
  border-top: solid 1px;
  border-bottom: solid 1px;
  justify-content: center;
}
.registrar_forms .registrar_pedido .registrar_ul .registrar_item-importe .registrar_item .item_icono img {
  width: 20px;
  display: flex;
  margin: 0 auto;
}
.registrar_forms .registrar_pedido .registrar_ul .registrar_item-importe .registrar_item textarea,
.registrar_forms .registrar_pedido .registrar_ul .registrar_item-importe .registrar_item select {
  margin: 0 1vw;
}
.registrar_forms .registrar_pedido .registrar_ul .registrar_item-importe .registrar_importe {
  margin-right: 5px;
}
.registrar_forms .registrar_pedido .registrar_ul .materiales-ferreteria {
  padding-top: 5px;
}
.registrar_forms .registrar_pedido .registrar_ul .materiales-ferreteria .registrar_item {
  width: 80%;
}
.registrar_forms .registrar_pedido .registrar_ul .materiales-ferreteria .registrar_item .cantidad {
  width: 10%;
}
.registrar_forms .registrar_pedido .registrar_ul .materiales-ferreteria .registrar_item textarea,
.registrar_forms .registrar_pedido .registrar_ul .materiales-ferreteria .registrar_item select {
  width: 90%;
  text-align: start;
}
.registrar_forms .registrar_pedido .registrar_ul .materiales-ferreteria .registrar_importe {
  width: 25%;
}
.registrar_forms .registrar_pedido .registrar_ul .direccion-cliente {
  border: solid 1px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2px;
  height: 60px;
}
.registrar_forms .registrar_pedido .registrar_ul .direccion-cliente .registrar_item .cliente-titulo {
  width: 100px;
  padding-left: 10px;
}
.registrar_forms .registrar_pedido .registrar_ul .direccion-cliente .registrar_item textarea,
.registrar_forms .registrar_pedido .registrar_ul .direccion-cliente .registrar_item select {
  max-width: 80%;
  margin-left: 43px;
  text-align: start;
}
.registrar_forms .registrar_pedido .registrar_ul .cabezal_materiales {
  display: flex;
  flex-direction: row;
  border: 1px solid;
  border-top: none;
  text-align: center;
  padding: 0;
  font-size: 20px;
  height: 31px;
}
.registrar_forms .registrar_pedido .registrar_ul .cabezal_materiales .cabezal_cant {
  width: 10%;
  border-right: solid 1px;
  padding: 3px 0;
}
.registrar_forms .registrar_pedido .registrar_ul .cabezal_materiales .cabezal_detalles {
  width: 70%;
  padding: 3px 0;
  border-right: solid 1px;
}
.registrar_forms .registrar_pedido .registrar_ul .cabezal_materiales .cabezal_precio_unitario {
  width: 13%;
  padding: 3px 0;
  border-right: solid 1px;
}
.registrar_forms .registrar_pedido .registrar_ul .cabezal_materiales .cabezal_importe {
  width: 13%;
  padding: 3px 0;
}
.registrar_forms .registrar_pedido .registrar_ul .registrar_opciones-icono {
  padding-top: 10px;
}
.registrar_forms .registrar_pedido .registrar_ul .presupuesto_footer {
  display: flex;
  flex-direction: row;
  border: solid 1px;
  text-align: center;
  padding: 0;
}
.registrar_forms .registrar_pedido .registrar_ul .presupuesto_footer .precio-iva {
  width: 40%;
  border-right: solid 1px;
  padding: 3px 0;
}
.registrar_forms .registrar_pedido .registrar_ul .presupuesto_footer .gracias-consulta {
  width: 60%;
  padding: 3px 0;
}
.registrar_forms .registrar_pedido .registrar_ul .total_li .total_suma {
  width: 11%;
}
.registrar_forms .registrar_pedido .registrar_ul .registrar_submit {
  padding-top: 20px;
}

.registrar_opciones input,
.registrar_mostrar input {
  opacity: 0;
  position: fixed;
  width: 0;
}
.registrar_opciones input:checked + label,
.registrar_mostrar input:checked + label {
  background-color: #f9f140;
  border-color: rgb(93, 68, 204);
}
.registrar_opciones input:focus + label,
.registrar_mostrar input:focus + label {
  border: 2px solid rgb(93, 68, 204);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.hidden_copies {
  display: none;
}

.ocultar_modo {
  display: none;
}

@media print {
  .navbar {
    display: none;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
  }
  .registrar_forms .registrar_venta {
    display: none;
  }
  .registrar_forms .registrar_pedido .registrar_ul .no-imprimir {
    display: none;
  }
  .registrar_forms .registrar_pedido .registrar_ul .registrar_numero-mostrar {
    display: none;
  }
  .registrar_forms .registrar_pedido .registrar_ul .registrar_opciones-icono {
    display: none;
  }
  .registrar_forms .registrar_pedido .registrar_ul .registrar_submit {
    display: none;
  }
  .registrar_forms .registrar_pedido .registrar_ul .registrar_item-importe .registrar_item textarea, .registrar_forms .registrar_pedido .registrar_ul .registrar_item-importe .registrar_item select, .registrar_forms .registrar_pedido .registrar_ul .registrar_item-importe .registrar_item .cantidad input {
    border: none;
  }
  .registrar_forms .registrar_pedido .registrar_ul .registrar_item-importe .registrar_item .item_icono,
.registrar_forms .registrar_pedido .registrar_ul .registrar_item-importe .registrar_item .agregar_mat,
.registrar_forms .registrar_pedido .registrar_ul .registrar_item-importe .registrar_item .agregar_fer,
.registrar_forms .registrar_pedido .registrar_ul .registrar_item-importe .registrar_item .modo_mat,
.registrar_forms .registrar_pedido .registrar_ul .registrar_item-importe .registrar_item .modo_fer,
.registrar_forms .registrar_pedido .registrar_ul .registrar_item-importe .registrar_item .eliminar_boton {
    display: none;
  }
  .registrar_forms .registrar_pedido .registrar_ul .registrar_item-importe .registrar_importe input {
    border: none;
  }
  .registrar_forms .registrar_pedido .registrar_ul .registrar_fecha_pedido .registrar_fecha input {
    border: none;
  }
}
.deposito_tabla {
  background-color: ghostwhite;
  border: solid 1px;
  box-shadow: 1px 1px;
  border-radius: 1rem;
  margin-left: 5.3rem;
  padding: 1vw 2vh;
  font-size: 2vw;
  justify-content: space-evenly;
  width: 90vw;
  height: 95vh;
}
.deposito_tabla thead {
  background: linear-gradient(0deg, rgb(182, 131, 21) 0%, rgb(255, 252, 6) 100%);
}
.deposito_tabla thead tr .deposito_numero {
  width: 7%;
}
.deposito_tabla thead tr .deposito_producto {
  width: 76%;
}
.deposito_tabla thead tr .deposito_vendedor {
  width: 10%;
  font-size: 2vh;
}
.deposito_tabla thead tr .deposito_id {
  width: 7%;
}
.deposito_tabla tbody {
  color: black;
}
.deposito_tabla tbody tr .deposito_numero {
  font-size: 5vh;
}
.deposito_tabla tbody tr .deposito_ferremat {
  font-size: 5vh;
}
.deposito_tabla tbody tr .deposito_serie {
  font-size: 2.5vh;
}
.deposito_tabla tbody tr:nth-child(even) {
  background-color: #e4c895;
}
@media only screen and (max-width: 900px) {
  .deposito_tabla tbody {
    color: black;
  }
  .deposito_tabla tbody tr .deposito_numero {
    font-size: 5vw;
  }
  .deposito_tabla tbody tr .deposito_ferremat {
    font-size: 5vw;
  }
  .deposito_tabla tbody tr .deposito_serie {
    font-size: 2.5vw;
  }
  .deposito_tabla tbody tr:nth-child(even) {
    background-color: #e4c895;
  }
}
@media only screen and (max-width: 600px) {
  .deposito_tabla {
    justify-content: unset;
    font-size: 3vh;
    width: 94vw;
    height: 87vh;
    margin: 1vw 2vh;
    padding: 0;
    overflow: scroll;
  }
}

.resumen_panel-subpaginas-tablas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 10vw;
}
.resumen_panel-subpaginas-tablas .resumen_panel-subpaginas {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: ghostwhite;
  border: solid 1px;
  box-shadow: 1px 1px;
  border-radius: 1rem;
  margin: 0 auto 2vh;
  flex-wrap: wrap;
}
.resumen_panel-subpaginas-tablas .resumen_panel-subpaginas .resumen_panel {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-right: 0.5vw;
}
.resumen_panel-subpaginas-tablas .resumen_panel-subpaginas .resumen_panel .panel_usuario {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  border-right: inset grey 0.5px;
  padding: 10px 5px;
}
.resumen_panel-subpaginas-tablas .resumen_panel-subpaginas .resumen_panel .panel_usuario .panel_usuario_nombre {
  margin-right: 0.5vw;
  text-shadow: 1px 1px 2px #1a1a93;
  cursor: default;
}
.resumen_panel-subpaginas-tablas .resumen_panel-subpaginas .resumen_panel .panel_usuario .panel_usuario_nombre .titulo {
  color: black;
  text-shadow: 1px 1px 2px black;
}
.resumen_panel-subpaginas-tablas .resumen_panel-subpaginas .resumen_panel .panel_usuario .panel_usuario_desconectar {
  margin-right: 0.5vw;
}
.resumen_panel-subpaginas-tablas .resumen_panel-subpaginas .resumen_panel .panel_titulo {
  text-shadow: 1px 1px 2px black;
  cursor: default;
  padding: 10px 5px;
}
.resumen_panel-subpaginas-tablas .resumen_panel-subpaginas .resumen_subpaginas {
  align-items: center;
  min-height: 48px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.resumen_panel-subpaginas-tablas .resumen_panel-subpaginas .resumen_subpaginas .subpaginas_titulo {
  margin-right: 0.3vw;
  text-shadow: black 1px 1px 3px;
  color: black;
  cursor: default;
}
.resumen_panel-subpaginas-tablas .resumen_panel-subpaginas .resumen_subpaginas .subpaginas_botones a {
  margin-right: 0.5vw;
}
.resumen_panel-subpaginas-tablas .resumen_tablas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_izquierda {
  height: 85vh;
  background-color: ghostwhite;
  border: solid 1px;
  box-shadow: 1px 1px;
  border-radius: 1rem;
  margin-right: 1vw;
  padding: 5px;
  width: 33vw;
  max-width: 450px;
}
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_izquierda .tablas_izquierda_1,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_izquierda .tablas_izquierda_2,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_izquierda .tablas_izquierda_3 {
  height: 33%;
  display: flex;
  flex-direction: column;
}
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_izquierda .tablas_izquierda_1 table,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_izquierda .tablas_izquierda_2 table,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_izquierda .tablas_izquierda_3 table {
  width: 100%;
  padding-right: 0.25rem;
}
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_izquierda .tablas_izquierda_1 .cuerpo,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_izquierda .tablas_izquierda_2 .cuerpo,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_izquierda .tablas_izquierda_3 .cuerpo {
  overflow: scroll;
  margin-right: -0.25rem;
}
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_izquierda .tablas_izquierda_1 .cuerpo::-webkit-scrollbar,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_izquierda .tablas_izquierda_2 .cuerpo::-webkit-scrollbar,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_izquierda .tablas_izquierda_3 .cuerpo::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_izquierda .tablas_izquierda_1 .cuerpo::-webkit-scrollbar-track,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_izquierda .tablas_izquierda_2 .cuerpo::-webkit-scrollbar-track,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_izquierda .tablas_izquierda_3 .cuerpo::-webkit-scrollbar-track {
  background: #1e1e24;
}
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_izquierda .tablas_izquierda_1 .cuerpo::-webkit-scrollbar-thumb,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_izquierda .tablas_izquierda_2 .cuerpo::-webkit-scrollbar-thumb,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_izquierda .tablas_izquierda_3 .cuerpo::-webkit-scrollbar-thumb {
  background: #6649b8;
}
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_izquierda .vendedores_izquierda {
  height: 50%;
}
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha {
  height: 85vh;
  background-color: ghostwhite;
  border: solid 1px;
  box-shadow: 1px 1px;
  border-radius: 1rem;
  padding: 5px;
  max-width: 39vw;
  min-width: 433px;
}
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .tablas_derecha_1,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .tablas_derecha_2,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .tablas_derecha_3 {
  height: 33%;
  display: flex;
  flex-direction: column;
}
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .tablas_derecha_1 table,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .tablas_derecha_2 table,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .tablas_derecha_3 table {
  width: 100%;
  padding-right: 0.25rem;
}
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .tablas_derecha_1 .cuerpo,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .tablas_derecha_2 .cuerpo,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .tablas_derecha_3 .cuerpo {
  overflow: scroll;
  margin-right: -0.25rem;
}
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .tablas_derecha_1 .cuerpo::-webkit-scrollbar,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .tablas_derecha_2 .cuerpo::-webkit-scrollbar,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .tablas_derecha_3 .cuerpo::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .tablas_derecha_1 .cuerpo::-webkit-scrollbar-track,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .tablas_derecha_2 .cuerpo::-webkit-scrollbar-track,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .tablas_derecha_3 .cuerpo::-webkit-scrollbar-track {
  background: #1e1e24;
}
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .tablas_derecha_1 .cuerpo::-webkit-scrollbar-thumb,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .tablas_derecha_2 .cuerpo::-webkit-scrollbar-thumb,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .tablas_derecha_3 .cuerpo::-webkit-scrollbar-thumb {
  background: #6649b8;
}
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .tablas_derecha_1 .cuerpo table tbody tr td ul,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .tablas_derecha_2 .cuerpo table tbody tr td ul,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .tablas_derecha_3 .cuerpo table tbody tr td ul {
  list-style: none;
  padding: 0;
}
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .vendedores_derecha {
  height: 100%;
}
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .tr_color {
  background-color: none;
}
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha .tr_color_2 {
  background-color: #e4c895;
}
.resumen_panel-subpaginas-tablas .resumen_tablas thead {
  background: linear-gradient(0deg, #ff8a02 30%, rgb(255, 252, 6) 100%);
}

@media only screen and (max-width: 900px) {
  .resumen_panel-subpaginas-tablas .resumen_panel-subpaginas {
    width: 63vw;
  }
  .resumen_panel-subpaginas-tablas .resumen_panel-subpaginas .resumen_panel {
    margin: 0;
  }
  .resumen_panel-subpaginas-tablas .resumen_panel-subpaginas .resumen_subpaginas {
    margin-top: 1vh;
  }
  .resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_izquierda {
    margin: 0;
  }
  .resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha {
    margin-top: 2vw;
    max-width: none;
  }
  .resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_izquierda,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha {
    width: 63vw;
    min-width: 420px;
  }
}
@media only screen and (max-width: 600px) {
  .resumen_panel-subpaginas-tablas .resumen_panel-subpaginas {
    width: 80vw;
    min-width: 260px;
    padding-bottom: 6px;
  }
  .resumen_panel-subpaginas-tablas .resumen_panel-subpaginas .resumen_panel {
    flex-direction: column;
  }
  .resumen_panel-subpaginas-tablas .resumen_panel-subpaginas .resumen_panel .panel_titulo {
    padding: 0;
  }
  .resumen_panel-subpaginas-tablas .resumen_panel-subpaginas .resumen_panel .panel_usuario {
    padding: 10px 0px 7px;
    border: none;
  }
  .resumen_panel-subpaginas-tablas .resumen_panel-subpaginas .resumen_panel .panel_usuario .panel_usuario_nombre {
    margin-right: 1.5vw;
  }
  .resumen_panel-subpaginas-tablas .resumen_panel-subpaginas .resumen_subpaginas .subpaginas_botones {
    display: flex;
  }
  .resumen_panel-subpaginas-tablas .resumen_panel-subpaginas .resumen_subpaginas .subpaginas_botones a {
    display: flex;
    align-items: center;
    padding: 3px;
    margin-right: 2vw;
  }
  .resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha {
    margin-top: 2vw;
    max-width: none;
    max-width: 450px;
  }
  .resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_izquierda,
.resumen_panel-subpaginas-tablas .resumen_tablas .resumen_tablas_derecha {
    width: 63vw;
    width: 90vw;
    min-width: auto;
  }
}
.items, .importes {
  text-align: initial;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.importes {
  width: 100%;
}
.importes .importe-signo {
  display: flex;
  flex-direction: row;
}
.importes .importe-signo .signo {
  width: 30%;
  text-align: center;
}
.importes .importe-signo .importe {
  width: 70%;
  padding-right: 5%;
  text-align: end;
}
.importes .importe-signo .pagotipo {
  font-size: 14px;
}

.items_venta_dia {
  width: 100%;
}
.items_venta_dia .ventas_dia {
  display: flex;
  flex-direction: row;
}
.items_venta_dia .ventas_dia .item {
  width: 20px;
  margin-left: 1vw;
}
.items_venta_dia .ventas_dia .item img {
  width: 100%;
}
.items_venta_dia .ventas_dia .detalle {
  width: 90%;
  margin-left: 1vw;
  line-break: anywhere;
}

.item_tipo_1, .importe_tipo_1 {
  color: red;
}

.item_tipo_2, .importe_tipo_2 {
  color: #2525e4;
}

.item_tipo_3, .importe_tipo_3 {
  color: rgb(93, 68, 204);
}

.item_tipo_4, .importe_tipo_4 {
  color: #a35801;
}

.item_tipo_5, .importe_tipo_5 {
  color: #12181b;
}

.resumenes div .tabla_1_cuerpo table tbody tr:nth-last-child(odd),
.tabla_2_cuerpo table tbody tr:nth-last-child(odd),
.tabla_3_cuerpo table tbody tr:nth-last-child(odd) {
  background-color: #e4c895;
}

.th-td_fecha_derecha {
  width: 20%;
}

.th-td_mid_derecha {
  width: 60%;
}

.th-td_importe {
  width: 20%;
}

.label-fecha-checbox_td {
  height: 14vh;
  align-items: center;
}
.label-fecha-checbox_td input {
  opacity: 0;
  position: fixed;
  width: 0;
}
.label-fecha-checbox_td input:checked + label {
  background-color: #f9f140;
  border-color: rgb(93, 68, 204);
  color: #2525e4;
}
.label-fecha-checbox_td input:focus + label {
  border: 2px solid rgb(93, 68, 204);
}
.label-fecha-checbox_td label {
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
}

.button_1 {
  background-color: #EEEEEE;
  color: #EB003B;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  border: rgb(203, 201, 201) 2px solid;
  border-radius: 5px;
  cursor: pointer;
}
.button_1:hover {
  background-color: #EB003B;
  color: #FFFFFF;
  border: 2px groove ghostwhite;
}

.button_2 {
  background-color: #ff8601;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  border: rgb(203, 201, 201) 2px solid;
  border-radius: 5px;
  text-decoration: none;
  color: #1a1a93;
  cursor: pointer;
}
.button_2:hover {
  color: #2525e4;
  border: 2px groove ghostwhite;
  background: linear-gradient(0deg, #ff8a02 30%, rgb(255, 252, 6) 100%);
}

.button_3 {
  display: inline-block;
  background-color: #ff8601;
  padding: 1vh 0.7vw;
  font-size: 0.7rem;
  border: 2px solid #444;
  border-radius: 4px;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
  min-width: 1rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 1vw;
}
.button_3:hover {
  background-color: #f9f140;
}

/*# sourceMappingURL=style.css.map */
