.deposito_tabla{
    @include tabla_css;
    margin-left: 5.3rem;
    padding: 1vw 2vh;
    font-size: 2vw;
    justify-content: space-evenly;
    width: 90vw;
    height: 95vh;
    thead{
        background: linear-gradient(0deg, rgba(182,131,21,1) 0%, rgba(255,252,6,1) 100%);
        tr{
            .deposito_numero{
                width: 7%;
            }
            .deposito_producto{
                width: 76%;
            }
            .deposito_vendedor{
                width: 10%;
                font-size: 2vh;
            }
            .deposito_id{
                width: 7%;
            }
        }
    }
    tbody {
        color: black;
        tr{
            .deposito_numero{
                font-size: 5vh;
            }
            .deposito_ferremat{
                font-size: 5vh;
            }
            .deposito_serie{
                font-size: 2.5vh;
            }
        }
        tr:nth-child(even) {
            background-color: #e4c895;
          }
    }
    
    @media only screen and (max-width: 600px) {
        justify-content: unset;
        font-size: 3vh;
        width: 94vw;
        height: 87vh;
        margin: 1vw 2vh;
        padding: 0;
        overflow: scroll;
    }
}
table{
    text-transform: uppercase;
    text-align: center;

}
table, th, td {
    border: 1px solid;
  }
  