.deposito_tabla{
    @include tabla_css;
    margin-left: 5.3rem;
    padding: 1vw 2vh;
    font-size: 2vw;
    justify-content: space-evenly;
    width: 85vw;
    height: 90vh;
    @media only screen and (max-width: 600px) {
        justify-content: unset;
        font-size: 3vh;
        width: 94vw;
        height: 87vh;
        margin: 1vw 2vh;
        padding: 0;
        overflow: scroll;
    }
}
table{

    border-collapse: collapse;
}
table, th, td {
    border: 1px solid;
  }
  thead {
    text-shadow: 1px 1px 1px black;
  }
  thead td {
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
    border: 3px solid purple;
  }
  tbody tr:nth-child(even) {
    background-color: #e495e4;
  }