.index_forms {
    display: flex;
    flex-wrap: wrap;

    .forms_izq {
        padding: 0;
        margin: 0;
        @include flexColumnCenter;
        .forms_index{
            text-align: center;
            padding: 0px 1.3rem;
            margin-bottom: 1rem;
            @include tabla_css;
            form {
                ul{
                list-style-type: none;
                padding: 0;
                #registrar_submit{
                    margin: 1rem 0 0 0;
                }
                }
            }
            .form_cambiarPrecio{
                ul{
                    .cambiarPrecio_li{
                        @include flexColumnCenter;

                    }
                }
            }
            .form_nuevoItem {

                ul {
                    @include flexColumnCenter;
                    
                    li {
                        @include flexCenter;
                    }
                }
            }
        }


    }

    .forms_der {
        margin-left: 1rem;
        @include flexCenter;

        .form_datos {
            @include tabla_css;
            padding: 7px;
        }

    }
    @media only screen and (min-width: 601px) {
        margin: 0 1rem 0 6rem;
        }
}