.index_forms {
    display: flex;
    flex-wrap: wrap;

    .forms_izq {
        padding: 0;
        margin: 0;
        @include flexColumnCenter;

        div .form_index {
            @include tabla_css;

            ul {
                @include flexColumnCenter;
                padding: 0;
                list-style-type: none;

                li {
                    @include flexCenter;
                }
            }
        }

    }

    .forms_der {

        @include flexCenter;

        .form_datos {
            @include tabla_css;

        }

    }
}