.registrar_forms{
    @include flexColumnCenter;
    margin: 0 auto;
    .registrar_form {
    @include tabla_css;
    font-size: 1rem;
    margin: 0 auto;
    .registrar_ul {
        // height: 94%;
        list-style: none;
        margin: 0;
        padding: 1rem 2rem;
        justify-content: space-evenly;
        @include flexColumn;

        li {
            padding-bottom: 1rem;
        }

        .registrar_numero-mostrar {
            @include flexRowCenter;
            position: relative;
            .registrar-numero {
                align-items: center;
                @include flexRow;

                input {
                    width: 2rem;
                    text-align: center;
                }
            }
            .cambiar_tipo_registro{
                position: absolute;
                right: 0;
                font-size: clamp(12px, 1vw, 18px);
            }
        }

        .cabezal_presupuesto{
            @include flexColumn;
        }
        .registrar_item-importe {
            @include flexRow;

            .registrar_item {
                display: flex;
                align-items: center;
                width: 80%;

                .item_icono {
                    width: 30px;
                    margin-right: 5px;

                    img {
                        width: 30px;
                    }
                }

                .cantidad {
                    width: 30px;
                    display: flex;
                    margin-right: 5px;

                    input {
                        width: 100%;
                        padding: 0;
                        margin: 0;
                    }
                }

                .modo_mat,
                .modo_fer {
                    width: 20px;
                    padding: 0;
                    margin-right: 5px;

                }

                .agregar_mat,
                .agregar_fer, .eliminar_boton {
                    width: 20px;
                    padding: 0;
                    margin-right: 5px;

                }

                textarea {
                    height: 1.5rem;
                    resize: none;
                    margin: 0 2vw;
                    width: inherit;
                    overflow: hidden;
                    padding: 0;
                    text-align: center;
                    line-height: 1.4rem;
                    padding: 0 0.3rem;
                    font-size: 1rem;
                }
                select{
                    height: 1.5rem;
                    margin: 0 2vw;
                    width: inherit;
                }
            }

            .registrar_importe {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 20%;

                label {
                    width: auto;
                }

                input {
                    width: 90%;
                }

                .precio_unitario {
                    display: flex;
                    width: 100%;
                    margin-right: 5px;
                }

            }
        }

        .mat_li,
        .fer_li {
            display: none
        }

        .total_li {
            display: flex;
            justify-content: end;
        }

        .registrar_opciones-icono {
            @include flexRow;

            align-items: center;

            .registrar_icono {
                text-align: start;
                width: 20%;
                img{
                    width: 28px;
                }
            }

            .registrar_opciones {
                width: 80%;
                @include flexCenter;



                .mostrar {
                    margin-right: 1rem;
                }


            }
        }

        .registrar_fecha-icono-img {
            @include flexRow;
            margin: 0 auto;
            align-items: center;

            .registrar_icono img {
                width: 6vh;
                margin-right: 1vh;
            }

            .registrar_fecha input {
                text-align: center;
            }

            .registrar_img {
                img {
                    width: 5vh;
                    padding: 0.3vw;
                    background: $button_bg_primary;
                    border-radius: 2vw;
                    margin-left: 1vw;
                    border: $button_border_primary solid 2px;

                    &:hover {
                        background: $button_bg_secondary;

                    }

                    &:active {
                        background: $button_border_secondary;

                    }
                }
            }

            .registrar_fecha {

                #element_4_2,
                #element_4_1 {
                    width: 2vw;
                }
            }

        }
        .registrar_fecha_pedido{
            .registrar_fecha{
                display: flex;
                .element_4_2, .element_4_1{
                    width: 15px;
                }
                .element_4_3{
                    width: 30px;
                }
            }
        }
        .registrar_submit {
            margin: 0 auto;
        }


    }

    @media only screen and (max-width: 900px) {
        width: 73vw;
        max-width: 45vw;
        .registrar_ul {
            padding: 1rem 1rem;
            .registrar_numero-mostrar{
                justify-content: flex-start;
            }
        }
    }

    @media only screen and (max-width: 600px) {
        width: 90vw;
        margin-bottom: 75px;
        max-width: none;

        .registrar_ul {
            padding: 1rem 0.5rem;

            li {
                padding-bottom: 0.7rem;
            }

            .registrar_item-importe {
                .registrar_item {
                    width: 75%;

                    // .cantidad {
                    //     width: auto;
                    // }

                    .item_icono {
                        width: auto;

                        img {
                            width: 15px;
                        }
                    }
                }

                .registrar_importe {
                    width: 25%;
                }
            }
            .registrar_opciones-icono .registrar_icono img{
                width: 20px;
            }
            .registrar_fecha-icono-img {
                
                .registrar_fecha {

                    #element_4_2,
                    #element_4_1 {
                        width: 5vw;
                    }

                    #element_4_3 {
                        width: 7vw;
                        min-width: 30px;
                    }
                }
            }
        }
    }

}
}

.registrar_opciones input,
.registrar_mostrar input {
    opacity: 0;
    position: fixed;
    width: 0;

    &:checked+label {
        background-color: $button_bg_secondary;
        border-color: $button_border_primary;
    }

    &:focus+label {
        border: 2px solid $button_border_secondary;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.hidden_copies {
    display: none;
}
.ocultar_modo {
    display: none;
}

@media print {
    .navbar{
        display: none;
    }
    .registrar_forms{
        #registrar_venta{
            display: none;
        }
        #registrar_pedido{
            .registrar_numero-mostrar{
                display: none;
            }
            .registrar_opciones-icono{
                display: none;
            }
            .registrar_submit{
                display: none;
            }
            .registrar_item-importe{
                .registrar_item{
                    .item_icono, .agregar_mat, .agregar_fer, .modo_mat, .modo_fer{
                        display: none;
                    }
                }
            }
        }
    }
 
 }