.registrar_form {
    @include tabla_css;
    font-size: 1rem;
    width: 73vw;
    height: 93vh;
    max-width: 45vw;

    .registrar_ul {
        height: 94%;
        list-style: none;
        margin: 0;
        padding: 1rem 2rem;
        justify-content: space-evenly;
        @include flexColumn;

        li {
            padding-bottom: 1rem;
        }

        .registrar_numero-mostrar {
            @include flexRowCenter;

            .registrar-numero {
                align-items: center;
                @include flexRow;

                input {
                    width: 2rem;
                    text-align: center;
                }
            }
        }

        .registrar_item-importe {
            @include flexRow;

            .registrar_item {
                display: flex;
                align-items: center;
                width: 80%;

                .item_icono {
                    width: 25%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                textarea {
                    width: 65%;
                }
            }

            .registrar_importe {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 20%;

                label {
                    width: 27%;
                }

                input {
                    width: 73%;
                }
            }
        }

        .registrar_opciones-icono {
            @include flexRow;

            align-items: center;

            .registrar_icono {
                text-align: start;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 20%;
            }

            .registrar_opciones {
                width: 80%;
                @include flexCenter;



                .mostrar {
                    margin-right: 1rem;
                }


            }
        }

        .registrar_fecha-icono-img {
            @include flexRow;
            margin: 0 auto;
            align-items: center;

            .registrar_icono img {
                width: 6vh;
                margin-right: 1vh;
            }

            .registrar_fecha input {
                text-align: center;
            }

            .registrar_img {
                img {
                    width: 5vh;
                    padding: 0.3vw;
                    background: $button_bg_primary;
                    border-radius: 2vw;
                    margin-left: 1vw;
                    border: $button_border_primary solid 2px;

                    &:hover {
                        background: $button_bg_secondary;

                    }

                    &:active {
                        background: $button_border_secondary;

                    }
                }
            }

            .registrar_fecha {

                #element_4_2,
                #element_4_1 {
                    width: 2vw;
                }
            }

        }

        .registrar_submit {
            margin: 0 auto;
        }

        div textarea {
            height: 1rem;
            resize: none;
        }

    }

    @media only screen and (max-width: 600px) {
        width: 90vw;
        height: 83vh;
        max-width: none;

        .registrar_ul {

            li {
                padding-bottom: 0.7rem;
            }

            .registrar_item-importe {
                .registrar_item {
                    width: 75%;
                }

                .registrar_importe {
                    width: 25%;
                }
            }

            .registrar_fecha-icono-img {
                .registrar_fecha {

                    #element_4_2,
                    #element_4_1 {
                        width: 5vw;
                    }

                    #element_4_3 {
                        width: 7vw;
                        min-width: 30px;
                    }
                }
            }
        }
    }

}

.registrar_opciones input,
.registrar_mostrar input {
    opacity: 0;
    position: fixed;
    width: 0;

    &:checked+label {
        background-color: $button_bg_secondary;
        border-color: $button_border_primary;
    }

    &:focus+label {
        border: 2px solid $button_border_secondary;
    }
}

.registrar_opciones label,
.registrar_mostrar label {

    display: inline-block;
    background-color: $button_bg_primary;
    padding: 1vh 0.7vw;
    font-size: .7rem;
    border: 2px solid #444;
    border-radius: 4px;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
    min-width: 1rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 1vw;

    &:hover {
        background-color: $button_bg_secondary;
    }

}