.resumen_panel-subpaginas-tablas {
    @include flexColumnCenter;
    text-align: center;
    margin: 0 10vw;

    .resumen_panel-subpaginas {
        @include flexRowCenter;
        @include tabla_css;
        margin-bottom: 2vh;

        .resumen_panel {
            @include flexRowCenter;

            .panel_usuario {
                @include flexRowCenter;
            }
        }

        .resumen_subpaginas {
            @include flexRowCenter;

            h2 {
                margin: 1vh 0;
            }
        }
    }

    .resumen_tablas {
        @include flexCenter;
        flex-wrap: wrap;

        .resumen_tablas_izquierda {
            height: 85vh;
            @include tabla_css;
            margin-right: 1vw;
            padding: 5px;
            width: 26vw;

            .tablas_izquierda_1 {
                height: 33%;

                @include flexColumn;

                table {
                    width: 100%;
                }

                .tabla_1_head {
                    padding-right: 0.25rem;
                }

                .tabla_1_cuerpo {
                    overflow: scroll;
                    @include scroll_bar_1;

                }

            }

            .tablas_izquierda_2 {
                height: 33%;
                @include flexColumn;

                table {
                    width: 100%;
                }

                .tabla_2_head {
                    padding-right: 0.25rem;
                }

                .tabla_2_cuerpo {
                    overflow: scroll;
                    @include scroll_bar_1;

                }
            }

            .tablas_izquierda_3 {
                height: 33%;
                @include flexColumn;

                table {
                    width: 100%;
                }

                .tabla_3_head {
                    padding-right: 0.25rem;
                }

                .tabla_3_cuerpo {
                    overflow: scroll;
                    @include scroll_bar_1;

                }
            }

            .vendedores_izquierda {
                height: 50%;
            }


            @media only screen and (max-width: 900px) {
                width: 63vw;
                margin: 0;
            }
        }

        .resumen_tablas_derecha {
            height: 85vh;
            @include tabla_css;
            padding: 5px;

            .tablas_derecha_1 {
                height: 33%;

                @include flexColumn;

                table {
                    width: 100%;
                }

                .tabla_1_head {
                    padding-right: 0.25rem;
                }

                .tabla_1_cuerpo {
                    overflow: scroll;
                    @include scroll_bar_1;
                }

            }

            .tablas_derecha_2 {
                height: 33%;
                @include flexColumn;

                table {
                    width: 100%;
                }

                .tabla_2_head {
                    padding-right: 0.25rem;
                }

                .tabla_2_cuerpo {
                    overflow: scroll;
                    @include scroll_bar_1;

                }
            }

            .tablas_derecha_3 {
                height: 33%;
                @include flexColumn;

                table {
                    width: 100%;
                }

                .tabla_3_head {
                    padding-right: 0.25rem;
                }

                .tabla_3_cuerpo {
                    overflow: scroll;
                    @include scroll_bar_1;

                }
            }

            .vendedores_derecha {
                height: 100%;
            }

            @media only screen and (max-width: 900px) {
                margin-top: 2vw;
                width: 63vw;
            }
        }

    }

}

.label-fecha-checbox_td {
    height: 14vh;
    align-items: center;

    label {
        display: block;
        height: 100%;

        .fecha-checbox_td {
            @include flexColumnCenter;
            height: 100%;

            input {
                opacity: 0;
                position: fixed;
                width: 0;

                &:checked {
                    background-color: $button_bg_secondary;
                    border-color: $button_border_primary;
                }

                &:focus {
                    border: 2px solid $button_border_secondary;
                }
            }
        }
    }
}

.th-td_fecha_derecha {
    width: 20%;

}

.th-td_mid_derecha {
    width: 60%;
}

.th-td_importe {
    width: 20%;
}