.resumen_panel-subpaginas-tablas {
    @include flexColumnCenter;
    text-align: center;
    margin: 0 10vw;

    .resumen_panel-subpaginas {
        @include flexRowCenter;
        @include tabla_css;
        margin: 0 auto 2vh;
        flex-wrap: wrap;

        .resumen_panel {
            @include flexRowCenter;
            margin-right: 0.5vw;

            .panel_usuario {
                @include flexRowCenter;
                align-items: center;
                border-right: inset grey 0.5px;
                padding: 10px 5px;

                .panel_usuario_nombre {
                    margin-right: 0.5vw;
                    text-shadow: 1px 1px 2px $color_primary;
                    cursor: default;

                    .titulo {
                        color: $color_terciary;
                        text-shadow: 1px 1px 2px $color_terciary;

                    }
                }

                .panel_usuario_desconectar {
                    margin-right: 0.5vw;
                }
            }

            .panel_titulo {
                text-shadow: 1px 1px 2px $color_terciary;
                cursor: default;
                padding: 10px 5px;
            }


        }

        .resumen_subpaginas {
            align-items: center;
            min-height: 48px;
            @include flexRowCenter;

            .subpaginas_titulo {
                margin-right: 0.3vw;
                text-shadow: black 1px 1px 3px;
                color: black;
                cursor: default;
            }

            .subpaginas_botones {
                a {
                    margin-right: 0.5vw;
                }
            }
        }
    }

    .resumen_tablas {
        @include flexCenter;
        flex-wrap: wrap;

        .resumen_tablas_izquierda {
            height: 85vh;
            @include tabla_css;
            margin-right: 1vw;
            padding: 5px;
            width: 33vw;
            max-width: 450px;

            .tablas_izquierda_1,
            .tablas_izquierda_2,
            .tablas_izquierda_3 {
                height: 33%;
                @include flexColumn;

                table {
                    width: 100%;
                    padding-right: 0.25rem;
                }

                .cuerpo {
                    overflow: scroll;
                    @include scroll_bar_1;

                }

            }

            .vendedores_izquierda {
                height: 50%;
            }

        }

        .resumen_tablas_derecha {
            height: 85vh;
            @include tabla_css;
            padding: 5px;
            max-width: 39vw;

            .tablas_derecha_1,
            .tablas_derecha_2,
            .tablas_derecha_3 {
                height: 33%;
                @include flexColumn;

                table {
                    width: 100%;
                    padding-right: 0.25rem;
                }

                .cuerpo {
                    overflow: scroll;
                    @include scroll_bar_1;
                }

            }

            .vendedores_derecha {
                height: 100%;
            }

            .tr_color {
                background-color: $bg_secondary;
            }

            .tr_color_2 {
                background-color: $bg_primary;
            }

        }

        thead {
            background-color: $bg_primary;
        }
    }

}

@media only screen and (max-width: 900px) {
    .resumen_panel-subpaginas-tablas {
        .resumen_panel-subpaginas {
            width: 63vw;

            .resumen_panel {
                margin: 0;
            }

            .resumen_subpaginas {
                margin-top: 1vh;
            }
        }

        .resumen_tablas {
            .resumen_tablas_izquierda {
                margin: 0;
            }

            .resumen_tablas_derecha {
                margin-top: 2vw;
                max-width: none;
            }

            .resumen_tablas_izquierda,
            .resumen_tablas_derecha {
                width: 63vw;
                min-width: 420px;
            }
        }

    }

}

@media only screen and (max-width: 600px) {
    .resumen_panel-subpaginas-tablas {
        .resumen_panel-subpaginas {
            width: 93vw;

            .resumen_panel {
                flex-direction: column;
            }

            //     .resumen_subpaginas {
            //         margin-top: 1vh;
            //     }
        }

        .resumen_tablas {

            // .resumen_tablas_izquierda {
            // }
            .resumen_tablas_derecha {
                margin-top: 2vw;
                max-width: none;
                max-width: 450px;
            }

            .resumen_tablas_izquierda,
            .resumen_tablas_derecha {
                width: 63vw;
                width: 90vw;
                min-width: auto;
            }
        }

    }

}

.label-fecha-checbox_td {
    height: 14vh;
    align-items: center;

    input {
        opacity: 0;
        position: fixed;
        width: 0;

        &:checked+label {
            background-color: $color_secondary;
            border-color: $button_border_primary;
            color: $button_bg_secondary;
        }

        &:focus+label {
            border: 2px solid $button_border_secondary;
        }
    }

    label {
        display: block;
        height: 100%;
        cursor: pointer;

        .fecha-checbox_td {
            @include flexColumnCenter;
            height: 100%;


        }
    }
}

.th-td_fecha_derecha {
    width: 20%;

}

.th-td_mid_derecha {
    width: 60%;
}

.th-td_importe {
    width: 20%;
}

.resumenes div .tabla_1_cuerpo table tbody tr:nth-last-child(odd),
.tabla_2_cuerpo table tbody tr:nth-last-child(odd),
.tabla_3_cuerpo table tbody tr:nth-last-child(odd) {
    background-color: #e4c895;
}