.panel_usuario_desconectar{
    background-color: #EEEEEE;
    padding: 5px 10px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
    &:hover{
        background-color:#EB003B;
    color: #FFFFFF;
    }
}