.button_1{
    background-color: #EEEEEE;
    padding: 5px 10px;
    text-decoration:none;
    font-weight:bold;
    border: solid;
    border-radius:5px;
    cursor:pointer;
    &:hover{
        background-color:#EB003B;
    color: #FFFFFF;
    }
}

.button_2{
    background-color: $button_bg_primary;
    padding: 5px 10px;
    text-decoration:none;
    font-weight:bold;
    border: solid;
    border-radius:5px;
    text-decoration: none;
    cursor:pointer;
    &:hover{
        color: $color_secondary;
        background-color:$button_bg_secondary;
    }
}