body {
    color: $color_primary_ex;
    margin: 0;
    padding: 0;
    background-image: url(/img/fondo1.webp), url(/img/fondo2.webp);
    background-repeat: no-repeat, repeat;
    background-size: cover, cover;
    background-position: 0 0, 0 603px;

    &::-webkit-scrollbar {
        width: 0.25rem;
    }

    &::-webkit-scrollbar-track {
        background: #1e1e24;
    }

    &::-webkit-scrollbar-thumb {
        background: #6649b8;
    }
}

section {
    margin: 0 auto;
    padding-top: 1rem;
    @include flexCenter;

    @media only screen and (max-width: 600px) {
        padding-top: 0.7rem;
    }
}

table {
    text-transform: uppercase;
    text-align: center;

}

input, select, textarea{
    text-align: center;
    text-transform: uppercase;
}
option{
    text-align: start;
    padding: 0 0.3rem;
}

table,
th,
td {
    border: 1px solid;
}

input, select, textarea, button, label {
    &:focus {
        outline: none;
        border: 3px dashed $blue_dark;
    }
}
