body{
    color: blue;
    margin: 0;
    padding: 0;
    background: url(/img/fondo1.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &::-webkit-scrollbar{
        width: 0.25rem;
    }
    &::-webkit-scrollbar-track{
        background: #1e1e24;
    }
    &::-webkit-scrollbar-thumb{
        background: #6649b8;
    }
}