:root{
    font-size: 16px;
    font-family: 'Open Sans';
    padding: 0;
    margin: 0;
    --bg-nav: #23232e;
    --bg-nav-2: #141418;
    --color-nav: #999797 ;
    --color-nav-2: #ffffff ;
    --filter-img-nav: invert(0);
    --filter-img-nav-hover: invert(1);
    --filter-nav-link-nav: grayscale(100%) opacity(0.7);
    --filter-nav-link-nav-hover: grayscale(0%) opacity(1);
    
}
html{
    height: -webkit-fill-available;
}
body {
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
  }
h1{
    padding: 0;
    margin: 0;
}
.light {

    --bg-nav: #ff8601;
    --bg-nav-2: #d3b806;
    --color-nav: #e5ff00;
    --color-nav-2: #e5ff00;
    --filter-img-nav: invert(0.1);
    --filter-img-nav-hover: invert(0.1);
    --filter-nav-link-nav: grayscale(0%) opacity(.7) ;
    --filter-nav-link-nav-hover: grayscale(0%) opacity(1);
    
    // --bg: var(--gray0);
    // --bg-nav: linear-gradient(to right, var(--gray1), var(--gray3));
    // --bg-dropdown: var(--gray0);
    // --text: var(--gray6);
    // --border-color: var(--blue);
    // --bg-solar: var(--yellow);
}
  

.dark {
    --bg-nav: #23232e;
  --bg-nav-2: #141418;
  --color-nav: #999797 ;
    --color-nav-2: #000000 ;
    --filter-img-nav: invert(0.7);
    --filter-img-nav-hover: invert(1);
    --filter-nav-link-nav: grayscale(100%) opacity(0.7);
    --filter-nav-link-nav-hover: grayscale(0%) opacity(1);
    
    // --bg: var(--gray5);
    // --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
    // --bg-dropdown: var(--gray6);
    // --text: var(--gray0);
    // --border-color: var(--purple);
    // --bg-solar: var(--blue);
}



#dark::before {
    background: #2a2e35;
}

#light::before {
    background: #ffffff;
}

#solar::before {
    background: var(--bg-solar);
}
