@mixin flexColumn{
    display: flex;
    flex-direction: column;
}

@mixin flexColumnCenter{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
@mixin flexRow{
    display: flex;
    flex-direction: row;
}

@mixin flexRowCenter{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
@mixin flexCenter{
    display: flex;
    justify-content: center;
}

@mixin tabla_css{
    background-color: $tabla_bg_primary;
    border: solid 1px;
    box-shadow: 1px 1px;
    border-radius: 1rem;
}