$text_primary: black;
$text_secondary:#ececec;

$navbar_bg_primary: #23232e;
$navbar_bg_secondary: #141418;

$button_bg_primary: #ff8601;
$button_bg_secondary: #f9f140;

$bg_primary: #ff8a02;
$bg_primary_b: #e4c895;
$bg_secondary: #fff934;
$bg_secondary_b: #fff834ad;

$color_primary: #1a1a93;
$color_primary_ex: #2525e4;
$color_secondary: #f9f140;
$color_secondary_ex: linear-gradient(0deg, #ff8a02 30%, rgba(255,252,6,1) 100%);
$color_terciary: black;
$color_fourth: rgb(203, 201, 201);

$tabla_bg_primary: ghostwhite;
$button_border_primary: rgb(93, 68, 204);
$button_border_secondary: rgb(93, 68, 204);
$transition-speed-1: 600ms;
$transition-speed-2: 300ms;

$gray0: #f8f8f8;
$gray1: #dbe1e8;
$gray2: #b2becd;
$gray3: #6c7983;
$gray4: #454e56;
$gray5: #2a2e35;
$gray6: #12181b;
$blue: #0084a5;
$purple: #a82dd1;
$yellow: #fff565;
