$text_primary: black;
$text_secondary:#ececec;
$bg_primary: #23232e;
$bg_secondary: #141418;

$button_bg_primary: #ff8601;
$button_bg_secondary: #f9f140;
$color_primary: #3434fc;
$color_secondary: #6b6bcb;
$color_terciary: black;


$tabla_bg_primary: ghostwhite;
$button_border_primary: rgb(93, 68, 204);
$button_border_secondary: rgb(93, 68, 204);
$transition-speed-1: 600ms;
$transition-speed-2: 300ms;
